.button {
  display: inline-block;
  border: 1px solid #00b000;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s;
}
.button:focus,
.button:hover {
  background-color: #00b000;
  border-color: #00b000;
  color: #000;
  text-decoration: none;
}
